<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codifyy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Codifyy"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainFeaturesPackage.settingsPackage.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".MainFeaturesPackage.settingsPackage.PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".MainFeaturesPackage.settingsPackage.Contact"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".QuizPackage.QuizActivity2"
            android:exported="false" />
        <activity
            android:name=".QuizPackage.QuizInterface"
            android:exported="false" />
        <activity
            android:name=".QuizPackage.QuizActivity1"
            android:exported="false" />
        <activity
            android:name=".LearnViewPackage.LearbActivity2"
            android:exported="false" />
        <activity
            android:name=".LearnViewPackage.LearnActivity"
            android:exported="false" />
        <activity
            android:name=".projectview.ProjectsPackage.Project2Activity"
            android:exported="false" />
        <activity
            android:name=".projectview.ProjectsPackage.ProjectL1Activity"
            android:exported="false" />
        <activity
            android:name=".notesview.AddingNotesPackage.ListOfNotesActivity"
            android:exported="false" />
        <activity
            android:name=".videosview.PlayYoutubeVideo.VideoModelPack.OnShotVideoActivity"
            android:exported="false" />
        <activity
            android:name=".videosview.PlayYoutubeVideo.PlayingYoutubeVideo"
            android:exported="false" />
        <activity
            android:name=".videosview.PlayYoutubeVideo.DisplayYoutubeVideo"
            android:exported="false" />
        <activity
            android:name=".videosview.PlayYoutubeVideo.YoutubeViewActivity1"
            android:theme="@style/Theme.PopMe" />
        <activity
            android:name=".technicalquesview.QuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".projectview.ProjectActivity"
            android:exported="false" />
        <activity
            android:name=".notesview.NotesActivity"
            android:exported="false" />
        <activity
            android:name=".booksview.BookActivity"
            android:exported="false" />
        <activity
            android:name=".videosview.VideosActivity"
            android:exported="false" />
        <activity
            android:name=".MainFeaturesPackage.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainFeaturesPackage.MainFeatures"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>